:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}
body{
    background-color: #343a40;
    padding: 0;
    margin: 0;
}
.banner-map iframe {
width: 100%;
height: 500px;
opacity: 0.8;


}
section{
    display: flex;
    max-width: 80%;
    align-items: center;
    margin: auto;
    margin-top: 50px;
}
.mennu-info{
    padding: 10px 30px;
}
.mennu-info li,li a{
    text-decoration: none;
    list-style: none;
    font-size: 20px;
}
.mennu-info li p{
    
    color: #ffc107;
    font-size: 18px;
}
.mennu-info li a{
    font-size: 10px;
    color: white;
}
.mennu-info li a:hover{
    color: red;
}
section h2{
    font-size: 40px;
    padding: 30px;
    color: #ffc107;
}
.container{
    max-width: 80%;
    margin: auto;
    display: flex;
}
._left{
    margin: 200px;
    color: #ffc107;
    width: 40%;
}
._right{
    position: relative;
    margin-top: 50px;
    padding: 30px 40px;
    width: 60%;
    
    background-color: black;
    border-radius: 30px;
}
.office-information h2{
    color: #ffc107;
}
.vk-contact__form h3{
text-align: center;
font-size: 30px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: #ffc107;
}
.vk-form--contact .row{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.vk-form--contact .row .col-lg-6{

color:#cac7bd;
}
.vk-form--contact .row .col-lg-6 input{
    width: 230px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    padding: 0 8px ;
}
.vk-form--contact .col-lg-12{
    
    padding: 20px 11px;
    color:  #ffc107;
}
.vk-form--contact .col-lg-12 input{
    width: 100%;
    height: 80px;
    outline: none;
    border: none;
    font-size: 20px;
    padding: 0 8px;
 
}

.vk-form--contact .form-group{
   
    color: #ffc107;
    user-select: none;
    padding: 19px 30px;
}
.vk-form--contact .form-group textarea{
    width: 100%;
    height: 130px;
    outline: none;
    border: none;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.vk-form--contact .vk-button{
    text-align: center;
}

.vk-form--contact button{
    width: 100%;
    border: 1px solid rgb(224, 189, 157);
    font-size: 1.4em;
    height: 40px;
    color: #ffc107;
    background: transparent;
}
.vk-form--contact button:hover{
   background:transparent ;
   color: rgb(43, 77, 77);
   border-color:rgb(43, 77, 77); ;
}
.vk-form--sale img{
    width: 200px;
    margin: 2px ;
}
.vk-banner__content{
    margin-top: 40px;
    overflow: hidden;
    width: 100%;
    opacity: 0.8;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    animation: animate 8s linear infinite;
    background-image: url(https://hanoimoi.com.vn/Uploads/images/phananh/2020/05/14/dulich1.jpg);
}
/* @keyframes animate{
    100%{
        filter: hue-rotate(10deg);
        color: black;
        
    }
} */
.vk-banner__content ._title{
    text-align: center;
    font-size: 5em;
    color: #ffc107;
    padding-top: 200px;
    margin: 30px 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.vk-banner-item__brief a:hover{
    color: var(--warning);
}
.vk-banner__listrow{
    display: flex;
 
}
.vk-banner-item__brief h2{
    opacity: none;
    color: rgb(39, 189, 46);
}
.vk-banner-item__brief{
    padding: 20px 30px;
}
.vk-banner-item__brief a{
    text-decoration: none;
    opacity:none ;
    color: rgb(189, 77, 77);
}
.vk-banner-item__text{
    font-size: 1em;
}
.vk-banner-item__img ion-icon{
    width: 200px;
    font-size: 60px;
    color: #e7b91f;
}
.vk-banner-item{
    padding: 40px 70px;
    
}

.container .vk-heading--style-1 span{
    position: relative;
    margin: 30px 20px;
    display: flex;
    text-align: center;
    align-items: center;
    left: 500px;
    font-size: 2em;
   padding: auto;
   color: #ffc107;
}
.vk-heading--style-1 span::before{
    content: "";
    height: 4px;
    width: 500px;
    background-color: #df10103f;
    position: absolute;
    left: 100%;
}

.vk-heading--style-1 span::after{
    content: "";
    height: 4px;
    width: 500px;
    background-color: #df10103f;
    position: absolute;
    right: 100%;
}
.draggable{
    display: flex;
    user-select: none;
    cursor: pointer;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: center;
    align-items: baseline;
    margin-top:200px ;
    max-width: 80%;

 }
 .container .draggable .slick-track{
   margin: auto;
 }
.slick-track ._item img{
    width: 300px;
    display: block;
 }
.brand{
    display: flex;
    max-width: 100%;
    margin-top: 150px;
    user-select: none;
    cursor: pointer;
}
.brand .slick-track img{
    width: 100px;
    /* position: relative; */
}
.brand .slick-track ._item{

padding: 18px 75px;

}
.vk-footer_top .container .vk-footer_top-content{
    display: flex;
}
.vk-footer_item li,.third-list li,.end-list li{
    list-style: none;
    cursor: pointer;
}
.vk-footer_top-content{
    justify-content: center;
    align-items: center;
    margin: auto;
}
.third-list{
    margin: 10px 50px;
}
.first-list li{
  padding: 10px 20px;
  color: #343a40;
}
.first-list a{
    color: var(--white);
}
.first-list a:hover{
    color: var(--danger);
}
.second-list li{
    padding: 10px 20px;
}
.third-list{
    margin-left: 60px;
    
}
.vk-footer_item p{
    color: black;
}
.third-list li{
    padding: 10px 15px;

}
.container .vk-footer_top-content{
    border-top: 1px solid grey;
    width:1200px ;
}
.vk-footer_top-content h2{
    color: #ffc107;
    font-size: 1.4em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.vk-footer_top-content li:hover{
    color: #fd7e14;
}
@media screen and (max-width:1430px) {
    .container .vk-heading--style-1 span{
        display: none;
    }

   
    ._left{
        
        top: 0px;
        position: absolute;
    }
    ._right{
        margin: auto;
        margin-top: 100px;
    }
    .vk-banner__content{
        display: none;
    }
    .vk-footer_top .container .vk-footer_top-content{
        display: block;
        position: relative;
        
    }
    
    .third-list{
        position: absolute;
        top: -10px;
        left: 300px;
    }
    .end-list{
        position: absolute;
        top: 100px;
        left: 700px;
    }
    .container .draggable{
        display: none;
    }
    .brand{
        display: none;
    }
    .office-information{
        display: none;
    }
}
@media screen and (max-width:1120px){
    .vk-form--contact{
     display: block;
    }
    .end-list{
        position: absolute;
        top: 348px;
        left: 352px;
    }
 }
 @media screen and (max-width:1273px){
    .vk-form--contact .row {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }
   .row .col-lg-6{
    
   }
 }


@media  screen and (max-width:1028px) {
    .vk-banner__listrow{
        display: none;
        flex-direction: column-reverse;
    }
}
.end-list li:first-child img{
    padding: 20px 20px;
}
.end-list label{
    display: flex;
}
#fb ,#ins , #mail, #github,#call,#logo-twitter,#yt,#tiktok{
    font-size: 2em;
    padding: 10px 10px;
    cursor: pointer;
}

#fb{
    color: #172fa4;
}
#ins{
    color:var(--red);
}
#call{
    color: #28a745;
}
#logo-twitter{
    color: #007bff
}
#yt{
    color: red;
}
#tiktok{
    color: rgb(140, 48, 48);
}
#mail{
    color: var(--pink);
}
#github{
    color: white;
}
footer{
    background-color: #6c757d;
}
.container .vk-footer__bot-content{
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
}
.vk-footer__bot-content img{
    width: 300px;
}
